"*":
  "atom-autocomplete-php":
    binComposer: "composer"
  "auto-detect-indentation":
    showSpacingInStatusBar: false
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
    ]
    packagesWithKeymapsDisabled: [
      "php-ide-serenata"
      "minimap"
      "atom-autocomplete-php"
      "markdown-preview"
    ]
    projectHome: "/home/laurent/Development/"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "atom-distraction-free-ui-theme"
      "atom-distraction-free-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    fontSize: 17
    lineHeight: 1.3
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "d0b8398b-e6f2-451a-9def-989cf394de19"
  linter:
    lintOnChange: false
  "linter-php": {}
  "linter-phpmd":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview": {}
  minimap:
    adjustMinimapWidthOnlyIfSmaller: false
    autoToggle: false
    displayPluginsControls: false
    minimapScrollIndicator: false
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    useHardwareAcceleration: false
  "php-ide-serenata":
    storagePath: "/home/laurent/.cache/php-ide-serenata"
  "status-bar":
    cursorPositionFormat: "line %L, col %C"
    selectionCountFormat: "(%L lines, %C characters)"
  welcome:
    showOnStartup: false
".html.text.vue":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
