"*":
  "atom-autocomplete-php":
    binComposer: "composer"
    gotoKey: "cmd"
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui":
      statusBarPosition: "right"
    "atom-ide-outline-view": {}
    "atom-ide-signature-help": {}
    "atom-ide-terminal":
      charAtlas: "static"
      cursorBlink: true
      fontFamily: "ubuntu mono"
      rendererType: "canvas"
    hyperclick:
      linuxTriggerKeys: "shiftKey"
    use:
      "atom-ide-console": "never"
      "atom-ide-debugger": "never"
      "atom-ide-terminal": "never"
  "atom-linter-phpstan":
    level: "8"
  "auto-detect-indentation":
    showSpacingInStatusBar: false
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave:
    enabled: true
  "bracket-matcher":
    alwaysSkipClosingPairs: true
  "color-picker":
    preferredFormat: "HSL"
    randomColor: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "spell-check"
      "linter"
      "linter-ui-default"
      "open-on-github"
      "keybinding-resolver"
      "archive-view"
      "bookmarks"
      "link"
      "welcome"
      "styleguide"
      "git-diff"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "php-ide-serenata"
      "minimap"
      "atom-autocomplete-php"
      "markdown-preview"
      "tree-view"
      "tool-bar"
      "bracket-matcher"
      "highlight-selected"
    ]
    packagesWithSnippetsDisabled: [
      "language-ruby"
    ]
    projectHome: "/home/laurent/Development/"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "atom-distraction-free-ui-theme"
      "atom-distraction-free-syntax"
    ]
  "disable-keybindings":
    allBundledPackages: true
    allCommunityPackages: true
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    showLineNumbers: false
    softWrap: true
    softWrapHangingIndent: 2
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "d0b8398b-e6f2-451a-9def-989cf394de19"
  "highlight-selected":
    highlightInPanes: false
    statusBarString: "#%c"
  linter:
    lintOnChange: false
  "linter-php": {}
  "linter-phpmd":
    strictMode: true
  "linter-phpstan":
    level: "2"
  "linter-ui-default":
    showDecorations: false
    showPanel: true
  "markdown-preview": {}
  minimap:
    adjustMinimapWidthOnlyIfSmaller: false
    autoToggle: false
    displayPluginsControls: false
    minimapScrollIndicator: false
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    useHardwareAcceleration: false
  "php-ide-serenata":
    general:
      doNotShowProjectChangeMessage: true
      projectOpenCount: 14
    storagePath: "/home/laurent/.cache/php-ide-serenata"
  "status-bar":
    cursorPositionFormat: "%L/%C"
    selectionCountFormat: "[%L/%C]"
  tabs:
    showIcons: false
    tabScrolling: false
  "tool-bar":
    iconSize: "16px"
    position: "Left"
    useTouchBar: false
  "tree-view":
    focusOnReveal: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "wrap-guide":
    columns: [
      80
      120
    ]
".css.less.source":
  editor:
    tabLength: 2
".css.scss.source":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2
".html.text.vue":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 2
