'.platform-win32, .platform-linux':
  'alt': 'abort!'
  'ctrl-p': 'command-palette:toggle'
  'ctrl-r': 'fuzzy-finder:toggle-file-finder'
  'ctrl-t': 'symbols-view:toggle-file-symbols'
  'ctrl-shift-p': 'project-manager:list-projects'
'atom-workspace atom-text-editor:not([mini])':
  'shift-esc': 'minimap:toggle'
  'ctrl-esc': 'tree-view:toggle'
  'ctrl-e': 'editor:delete-line'
  'ctrl-b': 'hyperclick:confirm-cursor'
  'ctrl-h': 'editor:duplicate-lines'
  'ctrl-i': 'auto-detect-indentation:show-indentation-selector'
  'ctrl-j': 'editor:fold-current-row'
  'ctrl-r': 'fuzzy-finder:toggle-file-finder'
  'ctrl-;': 'editor:unfold-current-row'
  'alt-k': 'editor:move-line-down'
  'alt-l': 'editor:move-line-up'
  'ctrl-{': 'editor:toggle-line-comments'
  'ctrl-k ctrl-h': 'open-html-in-browser:open'
  'ctrl-y': 'tree-view:reveal-active-file'
  'ctrl-down': 'editor:add-selection-below'
  'ctrl-up': 'editor:add-selection-above'
'.tree-view':
  'ctrl-[': 'none'
'body':
  'ctrl-c': 'editor:copy-selection'
  'ctrl-q': 'none'
