'.text.html.php':
  'inheritdoc docblock':
    'prefix': 'idoc'
    'body': """
/**
 * @inheritDoc
 */
"""

  'method not implemented':
    'prefix': 'notimpl'
    'body': """
throw new \\\\RuntimeException(sprintf('method %s::%s not implemented', __CLASS__, __FUNCTION__));
"""

  'variable docblock':
    'prefix': 'vdoc'
    'body': """
/** @var $1 */
"""

  'constructor':
    'prefix': 'ctor'
    'body': """
public function __construct($1)
{
    $2
}
    """

  'private variable docblock and declaration':
    'prefix': 'pvar'
    'body': """
/** @var $1 */
private $$2;
    """

  'PHPUnit covers annotation':
    'prefix': 'covers'
    'body': """
/**
 * @covers $1::$2
 */
    """
